<div class="tracks">
  <table>
    <thead><tr><th colspan="3">Ces sites analysent actuellement vos traces</th></tr></thead>
    <tbody>
      <tr>
        <th></th>
        <th>Site</th>
        <th>Traces</th>
      </tr>
      <tr *ngFor="let stalker of (domainRequestCount$ | async) | keyvalue">
        <td class="site-icon"><img class="site-icon" src="../assets/img/earth.png" /></td>
        <td class="stalker">{{stalker.key}}</td>
        <td>{{stalker.value}}</td>
      </tr>
    </tbody>
  </table>
</div>
