/* tracks */
div.tracks{
  text-align: center;
}

th.colheader {
  font-family: "Adlinnaka";
  font-size: medium;
}

/* tracks : Table */
div.tracks > table {
  margin: 0em 1em 1em 1em;
}

thead > tr > th {
  text-align: center;
  font-size: small;
  margin: 0;
  padding: 0;
}

tbody {
  text-align: center;
}

td > img.site-icon{
  height: 1em;
}

td.stalker{
  text-align: left;
}
