<div class="tracks">
  <p>Ces sites analysent actuellement vos traces</p>
  <table>
    <tbody>
      <tr>
        <th class="colheader"></th>
        <th class="colheader">Site</th>
        <th class="colheader">Information</th>
        <th class="colheader">Traces</th>
      </tr>
      <tr *ngFor="let stalker of (stalkers$ | async) | keyvalue">
        <td class="site-icon"><img class="site-icon" src="../assets/img/www_icon.png" /></td>
        <td class="stalker">{{stalker.key}}</td>
        <td>{{stalker.value?.data}}</td>
        <td>{{stalker.value?.count}}</td>
      </tr>
    </tbody>
  </table>
</div>
