div.header, div.footer {
  background-color:rgb(68, 106, 187);
  color: white;
  font-family: "Adlinnaka";
}

/* Header */
div.header {
  text-align: center;
  height: fit-tracks;
  padding-right: 10em;
}

div > img.logo {
  margin: .5em;
  height: 3em;
}

div.content {
  min-height: 20em;
}

/* tracks */
div.tracks {
  font-family: "Adlinnaka";
  font-size: medium;
}

/* tracks : Table */
div.tracks > table {
  margin: 0em 2em 2em 2em;
}

th {
  padding: 1em;
}

tbody {
  text-align: center;
}

td > img.site-icon{
  height: 1em;
}

td.stalker{
  text-align: left;
}

/* Footer */
div.footer{
  padding: .5em;
  text-align: center;
}
