<div class="header">
  <img class="logo" src="../assets/img/new_Logo-Footsteps-Horizontal-White-Text.png" />
</div>


<div class="content">
  <div class="tabs">
    <a data-ui="#tab1_" class="active">Traces</a>
    <a data-ui="#tab2_">Aide</a>
    <a data-ui="#tab3_"><i>settings</i></a>
  </div>
  <div id="tab1_" class="page padding left active">
    <app-tracks></app-tracks>
  </div>
  <div id="tab2_" class="page padding left">
    <app-help></app-help>
  </div>
  <div id="tab3_" class="page padding left">
    <app-params></app-params>
  </div>
</div>

<div class="footer">
  <p>© 2021 footsteps</p>
</div>
