div.header, div.footer {
  background-color:rgb(68, 106, 187);
  color: white;
  font-family: "Adlinnaka";
}

/* Header */
div.header {
  text-align: center;
  height: fit-tracks;
  padding-right: 10em;
}

div > img.logo {
  margin: .5em;
  height: 3em;
}

div.content {
  min-height: 20em;
}

/* Footer */
div.footer{
  padding: .5em;
  text-align: center;
}
