<div>
  <img class="logo" src="../assets/img/logo-footsteps-text.png" />
</div>

<table>
  <thead><tr><th colspan="2">These sites are currently watching you</th></tr></thead>
  <tbody>
    <tr *ngFor="let stalker of (domainRequestCount$ | async) | keyvalue">
      <td class="site-icon"><img class="site-icon" src="../assets/img/earth.png" /></td>
      <td class="stalker">{{stalker.key}}</td>
      <td>{{stalker.value}}</td>
    </tr>
  </tbody>
</table>

<div class="footer">
  <p>© 2021 footsteps.org</p>
</div>
